body,* {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 500;
  font-size: 12px;
  color:#2e3e4c;
}

code {
  font-family: 'Raleway', sans-serif;
}
input,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: transparent;
}

/*#0052ff  #186ffb*/
